.DS_Store
/target
/public
/content
/templates
/utils
/release
/result
/example-sites
__test_site
/other-projects
!/other-projects/typst-preview
!/other-projects/dioxus
!/other-projects/typst_blog
!/other-projects/typst-font-nondeterminism
target/
/docs